html{
    text-align: center;
    font-family: arial,sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
    border-radius: 12rem;
    margin-top: 4vh;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    border-radius: 12rem;
}
input:focus{
    border-color:#4d90fe;
    border-radius: 12rem;
    padding-left: 4%;   
}
#google-logo{
    display: block;
    margin: 20vh auto auto auto;
}
#header{
    text-align: right;
    margin-top: 2vh;
}
a{
    margin: 10px 10px 10px 10px;
}
#signin{
    background-color: #1a73e8;
    color: rgb(250, 243, 243);
}
#search{
    background-color: #f2f2f2;
    margin-right: 1vw;
    padding: 0.4vh 1vw 0.4vh 1vw;
    margin-top: 3vh;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
#lucky{
    background-color: #f2f2f2;
    padding: 0.4vh 1vw 0.4vh 1vw;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
button{
    border-radius: 5%;
    opacity:0.5;
    width: 10rem;
    height: 2rem;
}